{% extends 'home/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}

<!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg" style="margin-top:100px">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Menu Items in your Cart</p>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
          {% for menu in menu_list %}
          <div class="col-lg-6 menu-item filter-starters">
            <img src="/media/{{menu.image}}" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">{{menu.name|title}}</a><span><span style=""><del>N</del></span>{{menu.price|floatformat|intcomma}}</span>
            </div>
            <div class="menu-ingredients">
              {{menu.description}}
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Menu Section -->


{% endblock %}