{% extends 'home/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}


<!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us" style="margin-top:100px">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>VIP CARDS</h2>
          <p>Purchase a VIP Card</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>#25,000</span>
              <h4>Silver Card</h4>
              <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
			  <p style="text-align:center;padding-top:10px"><a href="#" class="btn btn-warning">Purchase</a></p>
			</div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>#100,000</span>
              <h4>Silver Card</h4>
              <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
			  <p style="text-align:center;padding-top:10px"><a href="#" class="btn btn-warning">Purchase</a></p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>#500,000</span>
              <h4>Platinum Card</h4>
              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis delx si.</p>
			  <p style="text-align:center;padding-top:10px"><a href="#" class="btn btn-warning">Purchase</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


{% endblock %}