{% extends 'site_admin/layout.html' %}
{% block 'page' %} Table {% endblock %}
{% block 'subpage' %} Index {% endblock %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<form>
    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Action</h6>
                    </li>

                    <li class="dropdown-item"><a class="btn btn-primary" style="width:100%" href="{% url 'table_create' %}">Add Table</a></li>
                </ul>
            </div>

            <div class="card-body">
                    <h5 class="card-title">Table List</h5>
                <table class="table table-borderless datatable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="">Table</th>
						<th scope="col" style="">Min Guest</th>
						<th scope="col" style="">Max Guest</th>
						<th scope="col" style="">Status</th>
                        <th scope="col" class="text-center" style="min-width:200px">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if table_list %}
                    {% for table in table_list %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ table.name|title }} </td>
							<td>{{ table.minimum_guest }} </td>
							<td>{{ table.maximum_guest }} </td>
							<td>{{ table.status|upper }} </td>
                            <td class="text-center">
								<a class="btn btn-primary" href="{% url 'table_edit' table.id %}">Edit</a>
								<a class="btn btn-danger" href="{% url 'table_delete' table.id %}">Delete</a>
							</td>
                        </tr>

                    {% endfor %}
                    {% else %}
                        <tr><td colspan="6"><h3 class="text-center">No Table Added Yet</h3></td></tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</form>


{%endblock %}

