{% extends 'site_admin/layout.html' %}
{% block 'page' %} Menu Class {% endblock %}
{% block 'subpage' %} Index {% endblock %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<form>
    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Action</h6>
                    </li>

                    <li class="dropdown-item"><a class="btn btn-primary" style="width:100%" href="{% url 'menu_class_create' %}">Add Class</a></li>
                </ul>
            </div>

            <div class="card-body">
                    <h5 class="card-title">Menu Class List</h5>
                <table class="table table-borderless datatable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="min-width:120px">Class</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if menu_class_list %}
                    {% for class in menu_class_list %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ class.name|title }} </td>
                            <td class="text-center">
								<a class="btn btn-primary" href="{% url 'menu_class_edit' class.id %}">Edit</a>
								<a class="btn btn-danger" href="{% url 'menu_class_delete' class.id %}">Delete</a>
							</td>
                        </tr>

                    {% endfor %}
                    {% else %}
                        <tr><td colspan="5"><h3 class="text-center">No Class Added Yet</h3></td></tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</form>


{%endblock %}

