{% extends 'site_admin/layout.html' %}
{% block 'page' %} Inventory {%endblock %}
{% block 'subpage' %} Category Delete {%endblock %}
{% block 'main' %}
{% load static %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">You are about to delete a category</h4>
            <p>Category: <i>{{menu_category.name|title}}</i></p>
			<p>This action is permanent</p>
            <form style="display:inline" method="post">
                {% csrf_token %}
                <button class="btn btn-success">Proceed</button>
            </form>
            <a class="btn btn-danger" href="{% url 'menu_category_index' %}"> Cancel</a>
        </div>
    </div>
</div>
{% endblock %}